body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.suite-container {
    padding: 0.5em;
}
.suite-header {}
.test-container {
    padding: 0.5em;
}
.test-expected-result {
    padding: 0.5em;
    color: white;
    background: #8870FF;
}

.success {
    background: #2CC990;
}
.error {
    background: #FC6042;
}
